# Project exclude paths
/inventory-service/target/
/order-service/target/
/product-service/target/
/inventory-service/src/main/resources/application.properties
/product-service/src/main/resources/application.properties
/order-service/src/main/resources/application.properties
